$primaryColor: lightgreen;
$secondaryColor: #c3c3c3;
$hoverColor: #000000;
$activeColor: darkgreen;
$quinaryColor: #000000;


$bodyBackgroundColor: #7EA55A;
$navBackground: #580806;
$figCap: rgba(217, 68, 79, .8);


$lightText: #FFFFFA;


$navBorder: dimgrey;
$activeLi: rgba(214,25,22, .5);
$boldWeight: bold;


/*---------------------------------- grid variables --------------------------------*/


$Edge: 2%;
$dblEdge: (2 * $Edge);