$edge: 2%;
$dblEdge: (2 * $edge);



$primaryNav: #6C7D8F;
$secondaryNav: #23282E;
$NavText: #D7E7F3;

$darkText: #323A42;
$lightText: #E2F2FF;

$darkGreen: #545925;

$lightPeach: #F2D9C3;

$darkPeach: #BD9A8E;
