//GLOBAL COLORS

$primaryColor: #7F3106;
$secondaryColor: #4C1D04;
$primaryBackground: #E5B666;
$secondaryBackground: #B2791A;


//TEXT COLORS
$primaryNav: #FFFFFA;
$secondaryNav: #FFFFFA;
$primaryText: #FFFFFA;