/* LARGE SCSS DOCUMENT FOR DESKTOPS */

@media only screen and (min-width: 1140px) {
//================================== FULL PAGE LAYOUT ======================================


	

//==================================== HEADER LAYOUT ======================================




//================================== NAVIGATION LAYOUT ====================================


.nav-wrapper{


	nav{
			max-width: 1200px;


		ul {
			float: left;
			
			li{
				align-self: center;
				padding: 0 1em;
				
				a{
					padding: .5em .1em;
					
				}
			}
			
		}
		
		
	}
}
//================================= MAIN CONTENT LAYOUT ===================================

	
	



//==================================== FOOTER LAYOUT ======================================



}