/* CSS Document */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* SCSS DOCUMENT */
/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0 auto;
  font-family: retiro-std-48pt,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #BD9A8E; }

.nav-wrapper {
  background-color: #6C7D8F;
  height: 2em; }
  .nav-wrapper nav {
    background-color: #6C7D8F;
    max-width: 1200px;
    margin: 0 auto; }
    .nav-wrapper nav ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around; }
      .nav-wrapper nav ul li {
        flex-direction: row;
        padding: .5em 0;
        border-right: 1px solid #23282E;
        transition: background-color .25s linear;
        -webkit-transition: background-color .25s linear; }
        .nav-wrapper nav ul li a {
          text-decoration: none;
          display: block;
          color: #E2F2FF;
          text-align: center; }
        .nav-wrapper nav ul li ul {
          visibility: hidden;
          background: #8897a6;
          z-index: 99;
          position: absolute;
          display: flex;
          flex-direction: column;
          margin-left: none;
          padding-left: none; }
          .nav-wrapper nav ul li ul li {
            border-right: none;
            border-bottom: 1px #23282E solid;
            width: 100%;
            padding: .5em 1em; }
      .nav-wrapper nav ul li:hover {
        background-color: #23282E; }
      .nav-wrapper nav ul li:hover ul {
        visibility: visible; }
      .nav-wrapper nav ul li.active {
        background-color: #23282E; }
    .nav-wrapper nav ul:nth-child(1) {
      border-left: 1px solid #23282E; }

main {
  background-color: #F2D9C3;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  main .title-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 4em; }
    main .title-wrapper h1 {
      font-size: 2.5em; }
    main .title-wrapper h2 {
      font-size: 1.5em; }
  main .welcome-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5em 2%; }
    main .welcome-wrapper blockquote {
      align-self: center;
      max-width: 20em;
      font-size: 1.5em; }
    main .welcome-wrapper img {
      max-width: 450px;
      align-self: center;
      clip-path: circle(40% at 50% 47%); }

footer {
  background-color: #6C7D8F;
  height: 2em;
  color: #E2F2FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: .5em; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/* MEDIUM SCSS DOCUMENT FOR TABLETS */
/* end media query */
/* LARGE SCSS DOCUMENT FOR DESKTOPS */
@media only screen and (min-width: 1140px) {
  .nav-wrapper nav {
    max-width: 1200px; }
    .nav-wrapper nav ul {
      float: left; }
      .nav-wrapper nav ul li {
        align-self: center;
        padding: 0 1em; }
        .nav-wrapper nav ul li a {
          padding: .5em .1em; } }

/*# sourceMappingURL=styles.css.map */
