$edge: 2%;
$dblEdge: (2 * $edge);



$primaryNav: #05585B;
$secondaryNav: #022324;
$NavText: #F0F6F6;

$darkText: #464747;
$lightText: #F0F6F6;

$outerBackground: #847560;
$innerBackground: #C6E2E3;

$brown: #644437;
$darkBrown: darken($brown, 10%);
$lightBrown: lighten($brown, 20%);
$bone: #eee;
$nose: #111;