/* CSS Document */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */ html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* apply a natural box layout model to all elements */ * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 

/* Website Style */
* {
	color: #000000;
	font-family: Helvetica, "sans-serif";
	margin: 0px;
	max-width: 75rem;
}

/* Body Style */

/* Header Style */
header h1 {
	padding: 2rem 0px;
	font-size: 48px;
	font-weight: normal;
	background-color: lightgray;
}
	
/* Navigation Style */

nav ul{
	width: 100%;
	height: 2.5rem;
	background-color: darkgray;
}

nav ul li {
	
	font-size: 24px;
	border-right: 3px solid #000000;

}

ul li:last-child {
	border-right: none;
}

nav ul li a {
	float: left; 
	text-decoration: none;
	color: #000000;
	display: block;
	padding: .5rem 1rem;
	background-color: darkgray;
	
	
}

nav ul li a:active{
	background-color: gray;
}

.active {
	background-color: gray;
}

.keepOpen {
	clear: both;
}

/* Content Style */

main h1 {
	padding: 2rem .5rem 1rem .5rem;
	font-size: 2.5rem;
	font-weight: 500;

}

.deviceImage {
	width: 50%;
	height: auto;
}

/* Footer style */

footer {
	text-align: center;
	font-size: 1rem;
	background-color: lightgray;
	padding: .3rem 0;
}

