/* CSS Document */

$primaryColor: dimgray;

$secondaryColor: lightgray;

$tertiaryColor: gray;

$quarternaryColor: darkSlateGray;

$quinaryColor: #B5D1CB;

$senaryColor: #6E7F7C;

$septenaryColor: #B7F4E6;